<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">

    <Identity Name="4b644e96-2c97-4558-9755-d2beefe23fe0" Publisher="CN=AppStudio" Version="1.0.5.0" />

    <mp:PhoneIdentity PhoneProductId="2aacaf63-e88b-4e7e-91dd-5a035310ed22" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>AppStudio App</DisplayName>
        <PublisherDisplayName>AppStudio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TheRollingStones.App">
            <uap:VisualElements DisplayName="The Rolling Stones"
              Square150x150Logo="Assets\Logo.png"
              Square44x44Logo="Assets\SmallLogo.png"
              Description="Use this to create an app from scratch."
              BackgroundColor="#ffffff">
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>

    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="2aacaf63-e88b-4e7e-91dd-5a035310ed22" />
        <appstudio:Item Name="model" Version="1.11" />
        <appstudio:Item Name="formula" Value="Win10" Version="0.11.0630.3" />
        <appstudio:Item DataSource="Collection" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Rss" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Menu" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Twitter" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Facebook" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="YouTube" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Flickr" Version="0.3.16-beta"/>
        <appstudio:Item DataSource="Instagram" Version="0.3.16-beta"/>
    </appstudio:Metadata>
</Package>
